<!-- TODO: Add the head.hbs partial here -->
{{> head }}
<!-- TODO: Add the nav.hbs partial here -->
{{> nav }}
<ul>
    {{#each flash_messages}}        
        <li>
            {{#if this.error}}
                <p style="color: red">{{this.message}}</p>
            {{else}}
                <p style="color: green">{{this.message}}</p>
            {{/if}}
        </li>
    {{/each}}    
</ul>
{{{body}}}
<!-- TODO: Add the footer.hbs partial here -->
{{> footer }}
