.pokemon-card.normal {
  border: 8px solid #ffee05; 
  border-radius: 10px;
  width: 200px;
  background-color: #fff;
  background-image: url('/images/Normal_image_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.pokemon-card.normal .card-body{
  background-image: url('Normal_Background.jpg');
  background-size: cover;
  color: #000000;
}

.pokemon-card.normal .card-text.type {
  border: none;
  font-style: italic;
  font-size: 12px;
}

.pokemon-card.normal .card-title {
  margin-bottom: 0; 
  font-size: 1.0rem;
  color: #000308ec;
  text-align: left;
}

.pokemon-card.normal .list-group-item.stats {
  margin-bottom: 0;
  font-size: 10px;
  color: #000000;
  background-image: url('Normal_Background.jpg');
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
}


      






.pokemon-card.fire .card-body{
  background-image: url('Fire_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.water .card-body{
  background-image: url('Water_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.water .card-body{
  background-image: url('Water_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.electric .card-body{
  background-image: url('Electric_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.grass .card-body{
  background-image: url('Grass_Background.jfif'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.ice .card-body{
  background-image: url('Ice_Background.avif'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.fighting .card-body{
  background-image: url('Fighting_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.poison .card-body{
  background-image: url('Poison_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.ground .card-body{
  background-image: url('Ground_Background.jfif'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.flying .card-body{
  background-image: url('flying_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.psychic .card-body{
  background-image: url('Psychic_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.bug .card-body{
  background-image: url('Bug_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.rock .card-body{
  background-image: url('Rock_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.ghost .card-body{
  background-image: url('Ghost_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.dragon .card-body{
  background-image: url('Dragon_Background.jfif'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.dark .card-body{
  background-image: url('Dark_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}


.pokemon-card.steel .card-body{
  background-image: url('Steel_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}

.pokemon-card.fairy .card-body{
  background-image: url('Fairy_Background.jpg'); /* Set background image for stats */
  color: #cb1010; /* Text color */
}