main {
  min-height: 100vh;
  margin: 0;
  padding: 20px; /* Adds padding for visual comfort */
  background-color: #f0f0f0; /* Just for better visibility */
}

.reg-form {
  margin: 20px auto; 
  width: 80%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  border-radius: 8px;
}

.radio-group > label {
  display: block;
  cursor: pointer;
  background-color: blue;
  margin: 0;
  width: 100%; 
}

.radio-group > label > input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;  
}

.radio-group > label.checked {
  background-color: #fff2c0;
}

.radio-group > label > span {
  background-color: white;  
  margin: 0 0;
  display: inline-block;
  width: 100%;
}

#trade-panes-container {  
  display: flex;
}

.collection-container {
  flex: 1;
}

.trading-partner-list {
  background: grey;
  flex: 0 1 auto; /* Grow: 0, Shrink: 1, Basis: auto */
}

#req-trade-container {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto 1fr; 
  gap: 10px;
}

#req-trade-container > section {
  background-color: #d3cce3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  padding: 10px 10px;
}

.pokemon-card {
  cursor: pointer;
}











