<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="/images/pokeball.png" alt="Logo" style="height: 40px;">
        <a class="navbar-brand" href="/"> Home <img src = "/images/home.svg" alt = "Home" style = "height: 20px;"> </a>
        <a class="navbar-brand" href="/search"> Search <img src = "/images/search.svg" alt = "Search" style = "height: 20px;">  </a>        
        {{#if userLoggedIn}}
            <a class="navbar-brand" href="/collections">  Collections <img src ="/images/pokemon-trainer.png" alt = "Collections" style = "height: 20px;"> </a>
            <a class="navbar-brand" href="/trade" >  Trade <img src ="/images/trade.png" alt = "Trade" style = "height: 20px;">  </a>
            <a class="navbar-brand" href="/pending" >  Pending Trades  </a>
            <a class="navbar-brand" href="/logout"> Logout <img src="/images/log-out.svg" alt = "Logout" style = "height: 20px;">  </a>
        {{else}}
            <a class="navbar-brand" href="/login"> Login <img src ="/images/log-in.svg" alt = "Log In" style = "height: 20px;"> </a>
            <a class="navbar-brand" href="/register">  Register <img src = "/images/register.svg" alt = "Register" style = "height: 20px;"> </a>
        {{/if}}
    </div>
</nav>
