<style>
    body {
        background-image:url('/images/background.jpeg');
        background-size: cover;
    }
</style>

<div id="title">
    <center>
        <img src="/images/Pokedex_3d.png" alt="Pokedex">
    </center>
</div> 
