<style>
    body {
        background-image:url('/images/background.jpeg');
        background-size: cover;
    }
</style>
<form action="/login" method="post" class="reg-form" style="background: white;">    
    <div class="form-group">
        <label for="username">Username or Email</label>
        <input type="text" class="form-control" id="username" name="login" placeholder="user123" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- <input type="hidden" name="hardcodedName1" value="hardcodedValue1"> -->
