<!-- copied and pasted from lab 8 

<form method="post" action="/register">
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Choose a username">
    <label for="password">Password:</label>
    <input type="text" class="form-control" name="password" placeholder="Choose a password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>

-->

<form method="post" action="/register">
  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" class="form-control" name="email" placeholder="Enter a valid email">
    <label for="username">Username:</label>
    <input type="text" class="form-control" name="username" placeholder="Choose a username">
    <label for="password">Password:</label>
    <input type="text" class="form-control" name="password" placeholder="Choose a password">
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form>