<h1>Search</h1>
<input type="text" id="search_input_field" />
<button type="submit" id="search_button">Search</button>

{{#if userLoggedIn}}
    <div id="is-logged-in" data-isloggedin="true"></div>
{{else}}
    <div id="is-logged-in" data-isloggedin="false"></div>
{{/if}}

<div id="pokemon-container"></div>
<script type="text/javascript" src="/js/search.js"></script>


   
