<div class = "container" style ="width:100%, min-height:100%, padding:5%">
    <div class = "row justify-content center mt-3">
        <h1>Search</h1>
        <input type="text" id="search_input_field" />
        <button type="submit" id="search_button">Search</button>
    </div>
    <h3>Filter by Type</h3>
    <form>
    <div class = "form-check form-check-inline"> 
        <input class="form-check-input" type="radio" name="type-choice" id="t0" value="none">
        <label class="form-check-label" for="t0">None</label>
    </div>
    <div class = "form-check form-check-inline"> 
        <input class="form-check-input" type="radio" name="type-choice" id="t1" value="normal">
        <label class="form-check-label" for="t1">Normal</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t2" value="fighting">
        <label class="form-check-label" for="t2">Fighting</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t3" value="flying">
        <label class="form-check-label" for="t3">Flying</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t4" value="poison">
        <label class="form-check-label" for="t4">Poison</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t5" value="ground">
        <label class="form-check-label" for="t5">Ground</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t6" value="rock">
        <label class="form-check-label" for="t6">Rock</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t7" value="bug">
        <label class="form-check-label" for="t7">Bug</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t8" value="ghost">
        <label class="form-check-label" for="t8">Ghost</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t9" value="steel">
        <label class="form-check-label" for="t9">Steel</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t10" value="fire">
        <label class="form-check-label" for="t10">Fire</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t11" value="water">
        <label class="form-check-label" for="t11">Water</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t12" value="grass">
        <label class="form-check-label" for="t12">Grass</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t13" value="electric">
        <label class="form-check-label" for="t13">Electric</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t14" value="psychic">
        <label class="form-check-label" for="t14">Psychic</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t15" value="ice">
        <label class="form-check-label" for="t15">Ice</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t16" value="dragon">
        <label class="form-check-label" for="t16">Dragon</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t17" value="dark">
        <label class="form-check-label" for="t17">Dark</label>
    </div>
    <div class = "form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type-choice" id="t18" value="fairy">
        <label class="form-check-label" for="t18">Fairy</label>
    </div>
    </form>
        
</div>
{{#if userLoggedIn}}
    <div id="is-logged-in" data-isloggedin="true"></div>
{{else}}
    <div id="is-logged-in" data-isloggedin="false"></div>
{{/if}}

<div id="pokemon-container"></div>
<script type="text/javascript" src="/js/shared_functions.js"></script>
<script type="text/javascript" src="/js/search.js"></script>