<div class = "container" style ="width:100%, min-height:100%, padding:5%">
    <div class = "row justify-content center mt-3">
        <h1>Search</h1>
            <input type="text" placeholder="Search the name of any Pokemon (i.e Eevee)..."/>
            <button type="submit" id = "search_button">Search</button>
    </div>

</div>
{{!-- <script type="text/javascript" src=""></script> --}}